@page "/agentresidences"
@inject IAPIService apiService

<h3> </h3>

@* Denna används inte heller. Använder ResidenceCard istället i AgentPage. *@


@if (AgentResidences != null)
{
    <GetResidenceComponent ListResidences="@AgentResidences" />
}
else if (isLoading)
{
    <div>
        <img src="/gif/walkingghost.gif" alt="Ghost wandering" />
        <p>Väntar...</p>
    </div>
}
else
{
    <div>
        <img src="/gif/floatingghost.gif" alt="Laddar..." />
        <p>Inga bostäder att visa</p>
    </div>
}


@code {
    [Parameter]
    public string? AgentId { get; set; }

    private bool isLoading = false;
    private List<Residence>? Residences;

    private List<Residence>? AgentResidences;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        if (AgentId != null)
        {
            Residences = await apiService.GetAllFromApiAsync<Residence>();
            AgentResidences = Residences?.Where(r => r.Agent.Id == AgentId).ToList();
        }
        isLoading = false;
    }
}


