@page "/residence"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient httpclient


<h3>See Houses</h3>
<button @onclick="GetHouses">Click Me for House Data</button>
@if(list!= null)
{
   foreach (var i in list)
    {
        <p> @i.StreetName i @i.City är en @i.Category.Name </p>
    }

}


@code {

    public List<Residence> list;

    public async Task GetHouses()
    {       
        var response = await httpclient.GetAsync("api/Residence");      
        if (response.IsSuccessStatusCode)
        {
            list = await response.Content.ReadFromJsonAsync<List<Residence>>();
        }
        else{ list = null; }
    }
    

   

}

