@* Author: Fredrik Blixt *@

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger" role="alert">
        <h5>@Message</h5>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}
