@inject NavigationManager navigationManager
@inject IAPIService apiService
@inject IAuthStateService AuthStateService
@inject INavigationStateService NavigationStateService
@page "/deleteresidence/{id}"
<PageTitle>Ta bort Bostad</PageTitle>
@* Author: Marcus Karlsson*@

<style>
    .deletecontainer{
        display:flex;
        flex-direction:row;
    }
</style>
@if (AuthStateService.IsLoggedIn())
{  

    <p style ="font-weight: 600; font-size:inherit; color: white;">Är du säker på att du vill ta bort denna bostad?</p>
@if (residence != null)
{     
             <div class="deletecontainer">
            <button class="btn btn-danger btn-lg" @onclick="DeleteResidences">Ja! Ta Bort</button>  
            <button style="margin-left:1rem;" type="button" class="btn btn-primary btn-lg" @onclick="Back">Nej! Gå Tillbaka</button>
        </div>
        <ResidenceCardComponent residence="residence"></ResidenceCardComponent>
}
else
{
    <p>Bostaden kunde inte hittas.</p>
}
}
else
{
    <p>Du har inte spökenas tillåtelse att gå hit.</p>
}
@code {

    [Parameter]
    public string? Id { get; set; }

    private Residence? residence;

    private async Task DeleteResidences()
    {     
        // var post = await httpClient.DeleteAsync($"api/Residence/{residence.Id}");
        if (await apiService.DeleteFromApiAsync<Residence>("api/Residence/" + residence.Id, residence))
         {
            navigationManager.NavigateTo("/filterresidences");
         }
        // else
        // {

        // }
    }
    private void Back()
    {
        NavigationStateService.NavigateBack();
    }
    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            residence = await apiService.GetFromApiAsync<Residence>("api/residence/" + Id);
        }
    }
}
