@page "/"
<PageTitle>HemSök</PageTitle>

<div class="startpageContainer">
    <img src="/images/startpage.jpg" class="startpageImage" />
    <div class="ghostContainer">
        <img src="/images/ghost2.png" class="ghostImage" />
    </div>
</div>