@page "/"
@using HemSokClient.Data
<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row justify-content-center">
        <h1 style="font-family: sans-serif" "text-align: center";>Välkommen till HemSök</h1>
    </div>
</div>
<div style="margin-bottom: 3rem;">
    <Starting5Component numberOfObjects="5"></Starting5Component>
</div>
<div style="margin-top: 3rem;">
    <ShowResidenceComponent></ShowResidenceComponent>
</div>