@page "/"
<PageTitle>HemSök</PageTitle>

@* <style>
    .homeContainer {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100vh;
    }

    .homeLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .homeRight {
        display: flex;
        justify-content: left;
        width: 60%;
        flex-wrap: wrap;
        padding: 20px;
        color: white;
    }

    .homeLeft img {
        width: 100%;
    }

    .homeRight h1 {
        font-size: 3rem;
        display: block;
        margin: 0px;
    }

    .homeRight p {
        display: block;
        margin: 0px;
        padding: 20px;
        font-size: 1.5rem;
    }
</style> *@
@* 
<div class="homeContainer">
    <div class="homeLeft">
        <img src="/images/ghost2.png" />
    </div>
    <div class="homeRight">
        <div class="textContent">
            <h1>Välkommen till Hemsök!</h1>
            <p>Kliv in i en värld av övernaturliga fastigheter, där varje hus har sin egen spökande historia och varje mäklare bär på en hemlighet som får det att krypa längs ryggraden. Vår spöklika plattform är fylld med bostadsannonser som skulle kunna få vilken morgonskymning som helst att kännas som midnatt.</p>
            <p>Glöm bort de vanliga mäklarbyråerna – här på Hemsök välkomnar vi dig med öppna armar... och kanske några viftande spökarmar också! Utforska våra hemska och fasansfulla hem, om du vågar. Vem vet, kanske hittar du ditt perfekta skräckhus bland våra skrämmande annonser.</p>
            <p>Så var beredd på att ge dig in i det okända och utforska denna spöklika värld. Vem vet vilka mörka hemligheter som väntar bakom varje hörn? Kom in om du törs, och låt oss hjälpa dig att hitta ditt drömhem... eller din värsta mardröm!</p>
        </div>
        <img src="/images/startpage.jpg" class="backgroundImage" />
    </div>
</div> *@

<div class="startpageContainer">
    <img src="/images/startpage.jpg" class="startpageImage" />
    <div class="ghostContainer">
        <img src="/images/ghost2.png" class="ghostImage" />
    </div>
</div>