@page "/"
@inject IAPIService APIService

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row justify-content-center">
        <h1 style="font-family: Lobster" "text-align: center" ;>Välkommen till HemSök</h1>
    </div>
</div>


@* <Starting5Component numberOfObjects="5"></Starting5Component>
<ShowResidenceComponent></ShowResidenceComponent>
 *@

<style>
    .container {
        display: flex;
        width: 100%;
        padding: 0px;
        margin: 0px;
        justify-content: center;
        align-items: left;
    }
</style>

 <div class="container">
        @if (residence != null)
        {
        <div class="row">
            @foreach (var item in residence)
            {
                <div class="col-lg-3">
                    <ResidenceCardComponent residence="@item"></ResidenceCardComponent>
                </div>
            }
            </div>
        }
</div>

@code {
    public List<Residence> residence { get; set; }

    protected override async Task OnInitializedAsync()
    {
        residence = await APIService.GetAllFromApiAsync<Residence>();
    }
}



