@page "/"
@using HemSokClient.Components.Agencies
@inject IAPIService APIService

<PageTitle>HemSök</PageTitle>

<style>
    .homeContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .homeLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .homeRight {
        display: flex;
        justify-content: left;
        width: 60%;
        flex-wrap: wrap;
        padding: 20px;
        color: white;
    }

    .homeLeft img {
        width: 50%;
    }

    .homeRight h1 {
        font-size: 3rem;
        display: block;
        margin: 0px;
    }

    .homeRight p {
        display: block;
        margin: 0px;
        padding: 20px;
        font-size: 1.5rem;
    }
</style>

<div class="homeContainer">
    <div class="homeLeft">
        <img src="/images/ghost2.png"/>
    </div>
    <div class="homeRight">
        <h1 class="homeRight">Välkommen till Hemsök(t)</h1>
        <p>På denna sida kan ni söka efter bostäder till salu.
            Allt ifrån villor till lägenheter.
            Vi har allt ni behöver för att hitta ert drömboende.
        </p>
        <p>
            På denna sida kan ni söka efter bostäder till salu.
            Allt ifrån villor till lägenheter.
            Vi har allt ni behöver för att hitta ert drömboende.
        </p>
        <p>
            På denna sida kan ni söka efter bostäder till salu.
            Allt ifrån villor till lägenheter.
            Vi har allt ni behöver för att hitta ert drömboende.
        </p>
        <AgencyCard AgencyId="4"></AgencyCard>
        <AgencyCard AgencyId="5"></AgencyCard>
    </div>
</div>
@* <Starting5Component numberOfObjects="5"></Starting5Component>
<ShowResidenceComponent></ShowResidenceComponent>
 *@


@code {

    protected override async Task OnInitializedAsync()
    {
    }
}



