@page "/deleteagency/{id:int}"
@inject IAPIService apiService
@inject INavigationStateService NavigationStateService

@* Author: Emil Waara*@
@if (agency != null)
{
    <h3 style="color: white">Are you sure you want to delete:</h3>

    <AgencyCard AgencyId=@Id ShowCrud="false" />

    <div class="ButtonContainer" style="display: flex; flex-direction: row">
        <button class="btn btn-danger" style="margin-right: 10px" @onclick="HandleValidSubmit">Ta bort</button>
        <button class="btn btn-secondary" @onclick="CancelDeletion">Avbryt</button>
    </div>
}
else
{
    <ErrorMessage Message="Hittar ej mäklarfirma som har det IDt" />
}


@code {
    [Parameter]
    public int Id { get; set; }

    private Agency agency { get; set; }

    protected override async Task OnInitializedAsync()
    {
        agency = await apiService.GetFromApiAsync<Agency>("api/agency/" + Id);
    }

    private async Task CancelDeletion()
    {
        NavigationStateService.NavigateBack();
    }

    private async Task HandleValidSubmit()
    {
        if (await apiService.DeleteFromApiAsync<Agency>("api/agency/" + Id, agency))
        {
            NavigationStateService.NavigateBack();
        }
    }
}