@page "/agent"
@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks
@using HemSokClient.Components.Agents
@inject HttpClient httpClient
@inject INavigationStateService NavigationStateService
@inject IJSRuntime JSRuntime
@inject IAPIService apiService
@inject IAuthStateService AuthStateService

@* Author: Fredrik Blixt*@

<PageTitle>Agents</PageTitle>

@* <button class="btn btn-primary btn-sm" @onclick="@(() =>NavigationStateService.NavigateTo("/register"))">Skapa ny mäklare</button> *@

@if (agents != null)
{
    <div class="container">
        @foreach (var agent in agents)
        {
            <div @onclick="@(() => NavigationStateService.NavigateTo($"/detailsagent/{agent.Id}"))">
                <AgentCardComponent Agent="@agent" Residences="residences"></AgentCardComponent>
            </div>
        }
    </div>
}
else
{
    <p>Mäklarna kommer vid midnatt</p>
}

@code {
    private List<Agent>? agents;
    private List<Residence>? residences;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            agents = await apiService.GetAllFromApiAsync<Agent>();
            residences = await apiService.GetAllFromApiAsync<Residence>();
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Ett undantag inträffade: {ex.Message}");
        }
    }
}