@inherits LayoutComponentBase
@inject INavigationStateService NavigationStateService
@inject IAPIService apiService
<script src="https://kit.fontawesome.com/27b0f27f86.js" crossorigin="anonymous"></script>

<div class="main">
    <div class="NavMenu">
        <div class="NavLogo">
            <img src="/images/ghost1.png" alt="Logo">
        </div>
        <div class="NavLinks">
            <NavLink class="nav-link" href="/agencylisting">CRUD Mäklarfirmor</NavLink>
            <NavLink class="nav-link" href="/agent">Mäklare</NavLink>
            <NavLink class="nav-link" href="/residence">Bostäder</NavLink>
            <NavLink class="nav-link" href="/filterresidences">Filtrera Bostäder</NavLink>
            <NavLink class="nav-link" href="/register">Skapa ny mäklare</NavLink>
            <NavLink class="nav-link" href="/edit/7b8163ca-2b80-4766-9e9b-c9548a2f8ddb">Editera en mäklare</NavLink>
        </div>
        <div class="UserArea">
            @if (apiService.currentUser != null)
            {
                <a @onclick="@(e =>  NavigateToPage($" /detailsagent/{apiService.currentUser.AgentId}"))">Min Profil</a>
                <a @onclick="@apiService.Logout">Logga ut</a>
            }
            else
            {
                <a @onclick="@(e => NavigateToPage("/login"))">Logga In</a>
                <a @onclick="@(e => NavigateToPage("/register"))">Registera</a>
            }
            
        </div>
    </div>
    <div class="mainContent">
        @Body
    </div>
    <div class="Footer">
        <p>Sida skapad av grupp 7 Golf { Marcus Karlsson, Emil Waara, Fredrik Blixt }</p>
    </div>
</div>

@code {
    private void NavigateToPage(string page)
    {
        NavigationStateService.NavigateTo(page);
    }
}